{{- /* {{< card header="System Properties" footer="OK" >}}body{{< /card >}} */ -}}
<div class="retro-card{{ with .Get "class" }} {{ . }}{{ end }}">
  {{- with .Get "header" }}<div class="retro-card-header">{{ . }}</div>{{ end }}
  {{- with .Get "image" }}<img class="retro-card-image" src="{{ . | relURL }}" alt="{{ $.Get "imageAlt" }}" loading="lazy">{{ end }}
  <div class="retro-card-content">{{ .Inner | .Page.RenderString (dict "display" "block") }}</div>
  {{- with .Get "footer" }}<div class="retro-card-footer">{{ . }}</div>{{ end }}
</div>
